@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjectManager.WEB.ViewModels.EntityViewModel.EmployeeViewModel
<input type="hidden" value="@Model.Id" name="Id" />
<main>
    <section>
        <h1>Employee</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" value="@Model.Id" name="Id" />
                <span>First Name</span>
                <br />
                <input type="text" value="@Model?.FName" name="FName" />
                <br />
                <span>Second Name</span>
                <br />
                <input type="text" value="@Model?.SName" name="SName" />
                <br />
                <span>Last Name</span>
                <br />
                <input type="text" value="@Model?.Patronymic" name="Patronymic" />
                <br />
                <span>Permitions:</span>
                <br />
                <select name="roles" multiple>
                    @foreach (var item in ViewBag.Roles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <br />
                <span>Email</span>
                <br />
                <input type="email" value="@Model?.Email" name="Email" />
                <br />
                <input type="submit" value="Save" />
            </form>
        </div>
    </section>
</main>