@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    <main>
        <section>
            <form action="" method="post" class="row g-3">
                <div class="col-auto">
                    <input class="form-control" name="searchString" placeholder="Search..." type="search">
                </div>
                <div class="col-auto">
                    <select class="form-select" name="sortProject">
                        <option name="Name" value="Name">Name</option>
                        <option name="Priority" value="Priority">Priority</option>
                        <option name="Start" value="Start">Start date</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" asp-action="Index" asp-controller="Project" type="submit">Поиск</button>
                </div>
            </form>

            <h1>Projects: </h1>
            @foreach (ProjectManager.WEB.ViewModels.EntityViewModel.ProjectViewModel project in ViewBag.Projects)
            {
                <a asp-area="" asp-controller="Project" asp-action="ProjectPage" asp-route-Id="@project.Id">
                    <option value="@project.Id">
                        <span>
                            @project.Name
                        </span>
                        <span>
                            Priority:
                        </span>
                        <span> @project.Priority </span>
                    </option>
                </a>
            }
        </section>
    </main>
}
